
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height:310px;
    background-color: rgb(86, 128, 114);
    padding-top: 13px;
    padding-right: 171px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 60px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
   gap: 20rem;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 17px;
  
}


.link a{
    text-decoration: none;
    color:lightgoldenrodyellow;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    margin-left: 10rem;
}

p{
   width: 291px; 
   text-align: justify;
}

h4{
    font-size: 26px;
    text-align: left;
    width: 232;
  
}

.text_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    
}
.btn1{
    border: none;
    border-radius: 3px;
    padding: 2px 15px 2px 15px;
    background-color: lightgoldenrodyellow;
}

.second_section_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.second_section{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sub_container{
    display: flex;
    justify-content: space-around;
    gap: 2rem;

}

.preview{
    border: 3px lightgoldenrodyellow solid;
    border-radius: 5px;
    width: 9rem;
    height: 9rem;
}
.text_preview{
    width: 9rem;
    margin-top: 4px;
}

.middle-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: wheat;
    margin-top: 2rem;
}

.middle-section p{
    width: 29rem;

}

.qoute{
    margin-right:auto ;
    padding-left: 21rem;
}

.sign-up-section-containter{
    display: flex;
    justify-content: center;
    gap: 2px;
    width: 100%;
    height: 300px;
}

.sign-up-section{
    display: flex;
    background-color: rgb(86, 128, 114);
    margin: 54px;
    width: 50%;
    height: 50%;
    border-radius: 8px;
    padding: 3rem;
}

.btn{
       /* align-self: flex-end; */
       background-color: wheat;
       border-color: white;
       border-style: solid;
       padding: 8px;
       border-radius: 5px;
       border-width: 4px;
       color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(29, 46, 40) ;
    text-align: center;
}

.copry-right{
    margin: 0 auto;
    
    color: white;

}